## pandas

### 1、Series

In [1]:
import pandas as pd
import numpy as np
pd.set_option("max_columns", 50)

In [23]:
# series： 一维数组
a = pd.Series([7, 'Beijing', 2.17, -12344, 'Happy Birthday!'])
a

0                  7
1            Beijing
2               2.17
3             -12344
4    Happy Birthday!
dtype: object

In [24]:
# 指定索引
a_1 = pd.Series([7, 'Beijing', 2.17, -12344, 'Happy Birthday!'],
             index=['A', 'B', 'C', 'D', 'E'])
a_1

A                  7
B            Beijing
C               2.17
D             -12344
E    Happy Birthday!
dtype: object

In [25]:
# 字典
cities = {'Beijing': 55000, 'Shanghai': 60000, 'Shenzhen': 50000, 'Hangzhou': 20000, 'Guangzhou': 25000, 'Suzhou': None}
a_2 = pd.Series(cities)
a_2

Beijing      55000.0
Guangzhou    25000.0
Hangzhou     20000.0
Shanghai     60000.0
Shenzhen     50000.0
Suzhou           NaN
dtype: float64

In [26]:
a_2[['Beijing','Shanghai']]

Beijing     55000.0
Shanghai    60000.0
dtype: float64

In [27]:
# 取值
print(a_2<50000)
print(a_2[a_2<50000])

Beijing      False
Guangzhou     True
Hangzhou      True
Shanghai     False
Shenzhen     False
Suzhou       False
dtype: bool
Guangzhou    25000.0
Hangzhou     20000.0
dtype: float64

In [28]:
# 赋值
a_2['Shenzhen'] = 55000
a_2

Beijing      55000.0
Guangzhou    25000.0
Hangzhou     20000.0
Shanghai     60000.0
Shenzhen     55000.0
Suzhou           NaN
dtype: float64

In [29]:
a_3 = pd.Series({'Beijing': 300000, 'Shanghai': 400000, 'Shenzhen': 300000, \
                      'Tianjin': 200000, 'Guangzhou': 200000, 'Chongqing': 150000})
print(a_3)
# 两个series相加，没有的是NaN
a_3+a_2*10

Beijing      300000
Chongqing    150000
Guangzhou    200000
Shanghai     400000
Shenzhen     300000
Tianjin      200000
dtype: int64

Beijing       850000.0
Chongqing          NaN
Guangzhou     450000.0
Hangzhou           NaN
Shanghai     1000000.0
Shenzhen      850000.0
Suzhou             NaN
Tianjin            NaN
dtype: float64

In [30]:
# 是否为空
print(a_3.notnull())

Beijing      True
Chongqing    True
Guangzhou    True
Shanghai     True
Shenzhen     True
Tianjin      True
dtype: bool

### 2、Dataframe

##### dataframe表示的是一个二维数组

In [31]:
data = {'city': ['Beijing', 'Shanghai', 'Guangzhou', 'Shenzhen', 'Hangzhou', 'Chongqing'],
       'year': [2016,2017,2016,2017,2016, 2016],
       'population': [2100, 2300, 1000, 700, 500, 500]}
print(pd.DataFrame(data))
print(pd.DataFrame(data, columns=['year', 'city', 'population']))

        city  population  year
0    Beijing        2100  2016
1   Shanghai        2300  2017
2  Guangzhou        1000  2016
3   Shenzhen         700  2017
4   Hangzhou         500  2016
5  Chongqing         500  2016
   year       city  population
0  2016    Beijing        2100
1  2017   Shanghai        2300
2  2016  Guangzhou        1000
3  2017   Shenzhen         700
4  2016   Hangzhou         500
5  2016  Chongqing         500

In [32]:
# 修改列的位置，增加一列，修改索引
b = pd.DataFrame(data, \
                     columns = ['year', 'city', 'population', 'debt'],
                     index = ['one', 'two', 'three', 'four', 'five', 'six'])
print(b)

       year       city  population debt
one    2016    Beijing        2100  NaN
two    2017   Shanghai        2300  NaN
three  2016  Guangzhou        1000  NaN
four   2017   Shenzhen         700  NaN
five   2016   Hangzhou         500  NaN
six    2016  Chongqing         500  NaN

In [33]:
# 打印出城市这一列
print(b.city)
# 打印出第四行
print(b.ix['four'])

one        Beijing
two       Shanghai
three    Guangzhou
four      Shenzhen
five      Hangzhou
six      Chongqing
Name: city, dtype: object
year              2017
city          Shenzhen
population         700
debt               NaN
Name: four, dtype: object

D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [34]:
b['debt'] = 100
b

       year       city  population  debt
one    2016    Beijing        2100   100
two    2017   Shanghai        2300   100
three  2016  Guangzhou        1000   100
four   2017   Shenzhen         700   100
five   2016   Hangzhou         500   100
six    2016  Chongqing         500   100

In [36]:
b.debt = np.arange(6)
b

       year       city  population  debt
one    2016    Beijing        2100     0
two    2017   Shanghai        2300     1
three  2016  Guangzhou        1000     2
four   2017   Shenzhen         700     3
five   2016   Hangzhou         500     4
six    2016  Chongqing         500     5

In [37]:
# 用Series来指定需要修改的index以及相对应的value，没有指定的默认用NaN.
b1 = pd.Series([100, 200, 300], index=['two', 'three', 'five'])
b['debt'] = b1
print(b)

       year       city  population   debt
one    2016    Beijing        2100    NaN
two    2017   Shanghai        2300  100.0
three  2016  Guangzhou        1000  200.0
four   2017   Shenzhen         700    NaN
five   2016   Hangzhou         500  300.0
six    2016  Chongqing         500    NaN

In [39]:
b['western'] = (b.city == 'Chongqing')
b

       year       city  population   debt  western
one    2016    Beijing        2100    NaN    False
two    2017   Shanghai        2300  100.0    False
three  2016  Guangzhou        1000  200.0    False
four   2017   Shenzhen         700    NaN    False
five   2016   Hangzhou         500  300.0    False
six    2016  Chongqing         500    NaN     True

In [3]:
# dataframe可以被转置
pop = {'Beijing': {2016: 2100, 2017:2200},
      'Shanghai': {2015:2400, 2016:2500, 2017:2600}}
c = pd.DataFrame(pop)
c

      Beijing  Shanghai
2015      NaN      2400
2016   2100.0      2500
2017   2200.0      2600

In [4]:
# 转置
c.T

            2015    2016    2017
Beijing      NaN  2100.0  2200.0
Shanghai  2400.0  2500.0  2600.0

In [8]:
# 使用切片取出数据
pdata = {'Beijing': c['Beijing'][:-1], 'Shanghai':c['Shanghai'][:-1]}
print(pd.DataFrame(pdata))

      Beijing  Shanghai
2015      NaN      2400
2016   2100.0      2500

In [14]:
d = pd.Series([4.5, 7.2, -5.3, 3.2], index=['d', 'b', 'a', 'c'])
print(d)
d_1 = d.reindex(['a', 'b', 'c', 'd', 'e'])
print(d_1)
# NaN的填充为0
print(d.reindex(['a', 'b', 'c', 'd', 'e'], fill_value = 0))

d    4.5
b    7.2
a   -5.3
c    3.2
dtype: float64
a   -5.3
b    7.2
c    3.2
d    4.5
e    NaN
dtype: float64
a   -5.3
b    7.2
c    3.2
d    4.5
e    0.0
dtype: float64